<!-- How many do i need? -->
<section class="section">
  <div class="container">
    <header class="section-header">
      <h2>How many sensors do I need?</h2>
      <p class="lead">Grow spaces can be thought of as having numerous micro climates. The bigger your space, the more sensors you will need to have the most accurate data collection.</p>
    </header>

    <div class="row gap-y text-center">

      <div class="col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="../assets/img/airsensor/growhouse.png" alt="..."></p>
        <h5>Grow Tents/Hobby Growers</h5>
        <p class="text-muted">For small areas or tents up to a 4'x8' you should be using 1-3 sensors. You should consider factors like air flow (higher flow means less sensors) and tent height (taller tent means more sensors).</p>
      </div>

      <div class="col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="../assets/img/airsensor/growhouse.png" alt="..."></p>
        <h5>Grow Rooms</h5>
        <p class="text-muted">For medium sized grow rooms we typically recommend 1-2 sensors per 25 square feet. You'll start to have more micro climates within your space.</p>
      </div>

      <div class="col-md-6 col-xl-4 feature-1">
        <p class="feature-icon"><img src="../assets/img/airsensor/growhouse.png" alt="..."></p>
        <h5>Commercial Facility/Greenhouse</h5>
        <p class="text-muted">Every facility is unique and uses different technology that affects its micro climates, you should contact us for a tailored response.</p>
      </div>
    </div>
  </div>
</section>
<!-- /.How Many Do I need? -->
