<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Sensors to help indoor growers better their yields">
    <meta name="keywords" content="">

    <title>Mendel Sensors for Indoor Growers</title>

    <!-- Styles -->
    <link href={{ "/assets/css/page.min.css" | absolute_url }} rel="stylesheet">
    <link href={{ "/assets/css/style.css" | absolute_url }} rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href={{ "/assets/img/apple-touch-icon.png" | absolute_url }}>
    <link rel="icon" href={{ "/assets/img/favicon.ico" | absolute_url }}>

    <!--  Open Graph Tags -->
    <meta property="og:title" content="Mendel Sensors">
    <meta property="og:description" content="Smart Sensors to help indoor growers better their yields">
    <meta property="og:image" content="http://mendelsensors.com/assets/img/ogimage.png">
    <meta property="og:url" content="http://mendelsensors.com/">
    <meta property="og:type" content="website">
    <!--<meta name="twitter:card" content="summary_large_image">-->

  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="/">
            <img class="logo-dark" src="../assets/img/Logo-Horizontal-Gradient.png" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>
          <ul class="nav nav-navbar">
            <li class="nav-item">
              <a class="nav-link" href="/airsensor">Air Sensor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app">App</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="btn btn-info btn-sm ml-lg-5 mr-2" href="#">Login</a>
            </li>
          </ul>
        </section>

        <a class="btn btn-sm btn-success" href="readme.html">SHOP</a>

      </div>
    </nav>
    <!-- /.navbar -->

     {{ content }}

     <!-- Footer -->
     <footer class="footer py-7">
       <div class="container">
         <div class="row">

           <div class="col-xl-5">
             <p><!--Mendel Sensors is made with ❤ by the creators of RapidLED.--> Enter your email so you never miss out on product updates.</p>
             <form class="input-round justify-content-center justify-content-lg-end" action="https://mendelsensors.us20.list-manage.com/subscribe/post?u=2c2ca69c2e81f29f6f7fe6b6d&amp;id=d442c49b18" method="post" target="_blank">
               <div class="input-group">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                 </div>
                 <input type="text" name="EMAIL" class="form-control" placeholder="Email Address">
                 <span class="input-group-append">
                   <button class="btn btn-success">Subscribe</button>
                 </span>
               </div>
             </form>
             <br />
             <div class="social social-bordered">
               <a class="social-facebook" href="https://www.facebook.com/mendel.sensors" target="_blank"><i class="fa fa-facebook"></i></a>
               <a class="social-twitter" href="https://twitter.com/mendelsensors" target="_blank"><i class="fa fa-twitter"></i></a>
               <a class="social-youtube" href="#" target="_blank"><i class="fa fa-youtube"></i></a>
               <a class="social-instagram" href="https://www.instagram.com/mendelsensors/" target="_blank"><i class="fa fa-instagram"></i></a>
             </div>
             <hr class="d-xl-none">
           </div>

           <div class="col-4 col-xl-2 offset-xl-1">
             <h6 class="mb-4 mt-1"><strong>Company</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/">Home</a>
               <a class="nav-link" href="/about">About</a>
               <a class="nav-link" href="/terms">Privacy Policy</a>
             </div>
           </div>

           <div class="col-4 col-xl-2">
             <h6 class="mb-4 mt-1"><strong>Product</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/airsensor">Sensor</a>
               <a class="nav-link" href="/app">App</a>
             </div>
           </div>

           <div class="col-4 col-xl-2">
             <h6 class="mb-4 mt-1"><strong>Support</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/contact">Contact</a>
               <a class="nav-link" href="/pricing">Pricing</a>
               <a class="nav-link" href="/faq">FAQ</a>
             </div>
           </div>

         </div>
       </div>
     </footer>
     <!-- /.footer -->

    <!-- Scripts -->
    <script src={{ "/assets/js/page.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/script.js" | absolute_url }}></script>
    <!-- Analytics -->
    <!-- Segment Source Analytics -->
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("C1igiDGVdbNUU2sboNXEBoNQtQ4afEGC");
      analytics.page();
      }}();
    </script>

  </body>
</html>
