<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KBCVQ7B');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Smart Sensors to help indoor growers better their yields">
    <meta name="keywords" content="">

    <title>Mendel Sensors for Indoor Growers</title>

    <!-- Styles -->
    <link href={{ "//assets/css/page.min.css" | absolute_url }} rel="stylesheet">
    <link href={{ "//assets/css/style.css" | absolute_url }} rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href={{ "/assets/img/apple-touch-icon.png" | absolute_url }}>
    <link rel="icon" href={{ "/assets/img/favicon.ico" | absolute_url }}>

    <!--  Open Graph Tags -->
    <meta property="og:title" content="Mendel Sensors">
    <meta property="og:description" content="Smart Sensors to help indoor growers better their yields">
    <meta property="og:image" content="http://mendelsensors.com/assets/img/ogimage.jpg">
    <meta property="og:url" content="http://mendelsensors.com/">
    <meta property="og:type" content="website">
    <!--<meta name="twitter:card" content="summary_large_image">-->

    <!--Conditional logic for shop page only -->
    <!-- we are using this to inject analytics into the shopify buy button iframe....
    https://community.shopify.com/c/Ecommerce-Marketing/HOW-TO-GUIDE-Track-Referrer-URL-with-Google-Analytics-Tag/m-p/661845#M32788 -->
    {% if {{page.title}} == "Shop" %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
  		<script>
    		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    		// OPTIONAL Analytics code for the Main Site 'property' is UA-XXXXXXXX-X, also change mywebsite.com
    		ga('create', 'UA-59108533-2', 'mendelsensors.com');
    		ga('send', 'pageview');

    		// OPTIONAL Analytics code for the Shopify Thank You 'property' is UA-XXXXXXXX-X
    		ga('create', 'UA-59108533-2', 'auto', {'allowLinker': true});
    		ga('require', 'linker');
    		ga('linker:autoLink', ['checkout.shopify.com'] );
    		ga('send', 'pageview');

  		</script>
      <!-- Google Analytics End -->

    {% endif %}

    <!-- Get UTM parameters from URL, save to localStorage -->
    <script>

      var url_string = window.location.href;
      var url = new URL(url_string);
      var params = url.searchParams;

      if (params.get("utm_source")) {
      	localStorage.source = params.get("utm_source");
      	localStorage.medium = params.get("utm_medium");
      	localStorage.campaign = params.get("utm_campaign");
        localStorage.term = params.get("utm_term");

      	// Get parameter whether underscore or not
      	if (params.get("utmcontent")) {
      		localStorage.content = params.get("utmcontent");
      	} else if (params.get("utm_content")) {
      		localStorage.content = params.get("utm_content");
      	}
      }

      //add utm params to any shop links on the page for better tracking.
      window.onload = function() {
        var links = document.getElementsByTagName("a"); for (url in links) console.log(links[url].href);
        var utmRegExp = /(\&|\?)utm_[A-Za-z]+=[A-Za-z0-9]+/gi;
        var utmInheritingDomains = [
          "mendelsensors.com/shop",
          //"127.0.0.1:4000/shop",
          "http://mendelsensors.com/shop",
          //"http://127.0.0.1:4000/shop",
          "https://mendelsensors.com/shop",
          //"https://127.0.0.1:4000/shop",
        ];
        utms = [
          "utm_medium=" + params.get("utm_medium"),
          "utm_source=" + params.get("utm_source"),
          "utm_campaign=" + params.get("utm_campaign"),
          "utm_content=" + params.get("utm_content"),
          "utm_term=" + params.get("utm_term"),
        ];
        for (var index2 = 0; index2 < links.length; index2 += 1) {
          for (var index = 0; index < links.length; index += 1) {
            var tempLink = links[index].href,
            tempParts;
            if (tempLink.indexOf(utmInheritingDomains[index2]) > 0) { // The script is looking for all links with the utmInheritingDomain
              tempLink = tempLink.replace(utmRegExp, "");
              tempParts = tempLink.split("#");
              if (tempParts[0].indexOf("?") < 0 ) {
                tempParts[0] += "?" + utms.join("&"); // The script adds UTM parameters to all links with the domain you've defined
              } else {
                tempParts[0] += "&" + utms.join("&");
              }
              tempLink = tempParts.join("#");
            }
            links[index].href = tempLink;
          }
        }
      };


	// Listen for messages from Shopify Order Status page; sends
	// requested localStorage vars to domain of requesting page
	window.onmessage = function(e) {
		var parent = window.parent;
		if (e.origin !== "https://shop.mendelsensors.com") {
			console.log('Message came from ' + e.origin);
			return;
		}
		if (e.data == 'get_vars' && localStorage.getItem('source')) {
			var lsData = new Object();
			try {
				lsData['source'] = localStorage.getItem('source');
				lsData['medium'] = localStorage.getItem('medium');
				lsData['content'] = localStorage.getItem('content');
				lsData['campaign'] = localStorage.getItem('campaign');
				parent.postMessage(JSON.stringify(lsData), '*');
			} catch(err) {
				console.log(err);
			}
		}
	};

	</script>

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBCVQ7B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Topbar -->
    <!-- <section class="topbar bg-dark d-flex" style="background-color: #961de2 !important;
    font-weight: 600;">
      <div class="container">
        <! first div is left align, second is centered, third is right aligned...-->
        <!-- <div></div>
        <div style="color:white;">Through April 20th use code 420 for 42% off your order!</div>
        <div></div>
      </div>
    </section> -->
    <!-- /.topbar -->

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="/">
            <img class="logo-dark" src="../assets/img/Logo-Horizontal-Gradient.png" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>
          <ul class="nav nav-navbar">
            <li class="nav-item">
              <a class="nav-link" href="/airsensor">Air Sensor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/app">App</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shop</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
               <a class="btn btn-info btn-sm ml-lg-5 mr-2" href="https://app.mendelsensors.com/">Login</a>
            </li>
          </ul>
        </section
      </div>
    </nav>
    <!-- /.navbar -->

     {{ content }}

     <!-- Footer -->
     <footer class="footer py-7">
       <div class="container">
         <div class="row">

           <div class="col-xl-5">
             <p><!--Mendel Sensors is made with ❤ by the creators of RapidLED.--> Enter your email so you never miss out on product updates.</p>
             <form class="input-round justify-content-center justify-content-lg-end" action="https://mendelsensors.us20.list-manage.com/subscribe/post?u=2c2ca69c2e81f29f6f7fe6b6d&amp;id=d442c49b18" method="post" target="_blank">
               <div class="input-group">
                 <div class="input-group-prepend">
                   <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                 </div>
                 <input type="text" name="EMAIL" class="form-control" placeholder="Email Address">
                 <span class="input-group-append">
                   <button class="btn btn-success">Subscribe</button>
                 </span>
               </div>
             </form>
             <br />
             <div class="social social-bordered">
               <a class="social-facebook" href="https://www.facebook.com/mendel.sensors" target="_blank"><i class="fa fa-facebook"></i></a>
               <a class="social-twitter" href="https://twitter.com/mendelsensors" target="_blank"><i class="fa fa-twitter"></i></a>
               <!--<a class="social-youtube" href="#" target="_blank"><i class="fa fa-youtube"></i></a>-->
               <a class="social-instagram" href="https://www.instagram.com/mendelsensors/" target="_blank"><i class="fa fa-instagram"></i></a>
             </div>
             <hr class="d-xl-none">
           </div>

           <div class="col-4 col-xl-2 offset-xl-1">
             <h6 class="mb-4 mt-1"><strong>Company</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/">Home</a>
               <a class="nav-link" href="/about">About</a>
               <a class="nav-link" href="/terms">Privacy Policy</a>
             </div>
           </div>

           <div class="col-4 col-xl-2">
             <h6 class="mb-4 mt-1"><strong>Product</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/airsensor">Sensor</a>
               <a class="nav-link" href="/app">App</a>
             </div>
           </div>

           <div class="col-4 col-xl-2">
             <h6 class="mb-4 mt-1"><strong>Support</strong></h6>
             <div class="nav flex-column">
               <a class="nav-link" href="/contact">Contact</a>
               <a class="nav-link" href="/faq">FAQ</a>
             </div>
           </div>

         </div>
       </div>
     </footer>
     <!-- /.footer -->

    <!-- Scripts -->
    <script src={{ "/assets/js/page.min.js" | absolute_url }}></script>
    <script src={{ "/assets/js/script.js" | absolute_url }}></script>

    <!--Script to add UTM data to mailchimp subscriber form. -->
    <!-- https://www.terminusapp.com/blog/bet-you-havent-used-utm-parameters-like-this/ -->
    <!-- made some changes, uses local storage from header script to grab UTM data-->
    <script type="text/javascript" charset="utf-8">
      //grabs the coorect UTM data by param name
      function getParameterByName(name) {
        var param = "";
        if (name == "utm_source") {
          param = localStorage.source;
        } else if (name == "utm_medium") {
          param = localStorage.medium;
        } else if (name == "utm_campaign") {
          param = localStorage.campaign;
        } else if (name == "utm_content") {
          param = localStorage.content;
        } else if (name == "utm_term") {
          param = localStorage.term;
        }
        return param;
      }

      $(document).ready(function () {
        //grab the utm data if there and add it to the invisible fields in our mailchimp sign up form.
        function addFormElem(paramName, fieldName) {
          var paramValue = getParameterByName(paramName);
          var $utmEl = $("<input type='hidden' name='" + fieldName + "' value='" + paramValue + "'>");
          if (paramValue != "") {
            $("form").first().prepend($utmEl);
          }
        }

        // These are the same keys as we added in mailchimp to add hidden fields
        // that way when someone signs up, we can fill them in without them knwoing and get the data
        var utmParams = {
          "utm_source"   : "USOURCE",
          "utm_medium"   : "UMEDIUM",
          "utm_campaign" : "UCAMPAIGN",
          "utm_content"  : "UCONTENT",
          "utm_term"     : "UTERM"
        };
        //run through each UTM data param we are interested in and add the data if it is there
        for (var param in utmParams) {
          addFormElem(param, utmParams[param]);
        }
      });
    </script>

  </body>
</html>
